<ul>
<% pubs.forEach( function(pub){ %>
	<li>
		<strong>Message:</strong> <%= pub.message %>, 
		<strong>Channels:</strong> <% pub.channels.forEach(function(ch){ %><%=ch%> <% });%>
	</li>
<% }); %>
</ul>