<ul>
<% subs.forEach( function(sub){ %>
	<li>
		<strong>User:</strong> <%= sub.username %>, 
		<strong>Channels:</strong> <% sub.channels.forEach(function(ch){ %><%=ch%> <% });%>
	</li>
<% }); %>
</ul>