<!DOCTYPE html>
<html>
  <head>
    <title>Node Pub-Sub Server</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-2.1.3.min.js'></script>
    <%-scripts%>
  </head>
  <body>
    <%- body %>
  </body>
</html>
