<% layout('layout') -%>
<% script('../javascripts/subscriptions.js') -%>

<h1 id="header">Current Subscriptions</h1>

<div id="subs-list">
<%- include partials/subs_list %>
</div>

<h1>Add a New Subscription</h1>
<form action="javascript:void(0);">
    <label for="user">Username</label>
    <input type="text" id="user"></input>
    <label for="channels">Channels</label>
    <textarea id="channels"></textarea>
    <input id="save" type="submit" value="Save" />
</form>

